<!DOCTYPE html>
<html>

<body th:fragment="loginview">


	<div th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null}" class="alert alert-danger">Invaild credentials</div>

	<form class="login-form" method="post" action="/login">
		<h3 class="form-title">Sign In</h3>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span> Enter any username and password. </span>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Username</label>
			<input class="form-control form-control-solid placeholder-no-fix"
				type="text" autocomplete="off" placeholder="Username"
				name="username" />
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<input class="form-control form-control-solid placeholder-no-fix"
				type="password" autocomplete="off" placeholder="Password"
				name="password" />
		</div>

		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />

		<div class="form-actions">
			<button type="submit" class="btn btn-success uppercase">Login</button>
		</div>
		<div class="create-account">
			<p>
				<a href="/signup" class="uppercase">Create an account</a>
			</p>
		</div>
	</form>

</body>
</html>