<!DOCTYPE html>
<html>
<head th:fragment="head">

<meta charset="utf-8"/>
<title>Crossover Library</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css"/>


<link type="text/css" rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/plugins/simple-line-icons/simple-line-icons.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/plugins/uniform/css/uniform.default.css}" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link type="text/css" rel="stylesheet" th:href="@{/admin/pages/css/login.css}" />
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link type="text/css" rel="stylesheet" th:href="@{/global/css/components.css}" id="style_components"/>
<link type="text/css" rel="stylesheet" th:href="@{/global/css/plugins.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/admin/layout/css/layout.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/admin/layout/css/themes/darkblue.css}" id="style_color"/>
<link type="text/css" rel="stylesheet" th:href="@{/admin/layout/css/custom.css}" id="style_color"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>




</head>
<body>

</body>
</html>